rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /links/{linkId} {
      allow get: if true;
      allow list: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update: if (request.auth != null && resource.data.userId == request.auth.uid) ||
                    (
                      request.resource.data.diff(resource.data).affectedKeys().hasOnly(['clicks']) &&
                      request.resource.data.clicks == resource.data.clicks + 1
                    );
      allow delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}
